<section>
    <div class="container-fluid">
        <div class="row bg-blue">
            <div class="col-12 p-5 d-flex justify-content-center align-items-center">
                <div class="text-center text-white p-lg-5 p-3">
                    <h2>
                        Benefits
                    </h2>
                    <p>Invent-C is a visual aid to guide researchers and academic inventors for aligning their
                        research and inventions with the real-world problems, inventing solutions for solving the
                        real-world problems and increasing chance of acceptance of their inventions in the society.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>