<div class="row">
  <div class="col-lg-12">
    <h2 class="text-red mb-3 mt-5 px-5">As Featured on</h2>
  </div>
</div>

<div class="px-3">
  <div class="row px-4 mb-4 feature-box">
    <div class="col-lg-2">
      <div class="card border shadow p-3">
        <img
          src="assets/images/1.png"
          alt="Featured1"
          class="img-fluid mx-auto"
        />
      </div>
    </div>
    <div class="col-lg-2">
      <div class="card border shadow p-3">
        <img
          src="assets/images/2.png"
          alt="Featured1"
          class="img-fluid mx-auto"
        />
      </div>
    </div>
    <div class="col-lg-2">
      <div class="card border shadow p-3">
        <img
          src="assets/images/3.png"
          alt="Featured1"
          class="img-fluid mx-auto"
        />
      </div>
    </div>

    <div class="col-lg-2">
      <div class="card border shadow p-3">
        <img
          src="assets/images/4.png"
          alt="Featured1"
          class="img-fluid mx-auto"
        />
      </div>
    </div>

    <div class="col-lg-2">
      <div class="card border shadow p-3">
        <img
          src="assets/images/5.png"
          alt="Featured1"
          class="img-fluid mx-auto"
        />
      </div>
    </div>
    <div class="col-lg-2">
      <div class="card border shadow p-3">
        <img
          src="assets/images/6.png"
          alt="Featured1"
          class="img-fluid mx-auto"
        />
      </div>
    </div>
  </div>
  <div class="row mb-5 px-4 feature-box">
    <div class="col-lg-2">
      <div class="card border shadow p-3">
        <img
          src="assets/images/7.png"
          alt="Featured1"
          class="img-fluid mx-auto"
        />
      </div>
    </div>

    <div class="col-lg-2">
      <div class="card border shadow p-3">
        <img
          src="assets/images/8.png"
          alt="Featured1"
          class="img-fluid mx-auto"
        />
      </div>
    </div>

    <div class="col-lg-2">
      <div class="card border shadow p-3">
        <img
          src="assets/images/9.png"
          alt="Featured1"
          class="img-fluid mx-auto"
        />
      </div>
    </div>

    <div class="col-lg-2">
      <div class="card border shadow p-3">
        <img
          src="assets/images/10.png"
          alt="Featured1"
          class="img-fluid mx-auto"
        />
      </div>
    </div>

    <div class="col-lg-2">
      <div class="card border shadow p-3">
        <img
          src="assets/images/11.png"
          alt="Featured1"
          class="img-fluid mx-auto"
        />
      </div>
    </div>

    <div class="col-lg-2">
      <div class="card border shadow p-3">
        <img
          src="assets/images/12.png"
          alt="Featured1"
          class="img-fluid mx-auto"
        />
      </div>
    </div>
  </div>
</div>
