<section class="py-lg-4 py-3 mb-5">
    <div class="container-fluid">
        <div class="row bg-blue2">
            <div
                class="col-md-9 comment-section text-white py-4 d-flex align-items-center justify-content-center position-relative">
                <div class="d-flex justify-content-center">
                    <p class="fs-5 text-center">
                        <i>
                            "If there will ever be a patron saint for entrepreneurs, Arabella Bhutto is surely the
                            top contender for the position."
                        </i> <br>
                        <span class="fs-4 fw-bold">Mr. ........ </span><span class="fs-5">(Author and
                            Scholar)</span>
                    </p>
                </div>
                <div class="circle">
                    <img src="assets/images/circles.png" class="img-fluid">
                </div>
            </div>
            <div class="col-md-3 d-flex align-items-start justify-content-center">
                <div class="bg-white p-3 w-75">
                    <h4 class="text-blue mb-4">
                        NIB Award Winner
                    </h4>
                    <p class="mb-4">
                        National Idea Bank is a collaboration between Academia, Government, Industry, and society to
                        identify and showcase innovative ideas to solve indigenous problems.
                    </p>
                    <div class="text-center mb-3">
                        <button class="btn btn-pink rounded-pill px-4">View &nbsp;&nbsp;&nbsp; ></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>