<section class="py-lg-4 py-3">
    <div class="container-fluid">
        <div class="row bg-dark-gray">
            <div class="col-md-3 py-3 d-flex align-items-center justify-content-center">
                <img src="assets/images/book-image.png" class="book-img">
            </div>
            <div class="col-md-9 book-section text-white py-4 px-2">
                <div class="w-md-75">
                    <h4 class="text-warning">LATEST RELEASE BY ARABELLA BHUTTO</h4>
                    <h1>Converting Ideas to Innovation With Lean Canvas for Invention</h1>
                    <p class="text-justify">
                        The Lean Canvas for Invention (LCI) is an academic tool that provokes the thought process of
                        researchers and academic inventors to build an attitude of investing their time and effort
                        on inventions having potential of commercialization. It can be useful for acadmic inventors
                        belonging to multiple science and engineering disciplines (e.g., civil, electrical,
                        mechanical, textile, software, water, environment and sanitation, etc.), intending for
                        entrepreneurship. The LCI is developed on understanding that bridging knowledge asymmetries
                        between technology developers and technology managers at the technology transfer offices is
                        extremely desired. It is a systemic thinking process that allows researchers, academic
                        inventors, product developers, and entrepreneurs to ponder upon multiple parameters which
                        must be considered as prerequisites for technological inventions and for invention
                        disclosures.
                    </p>
                    <button class="btn btn-warning mt-4 px-4 fw-bold rounded-0" (click)="openLink(bookLink)">
                        LEARN MORE
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>