<section class="about-section">
  <div class="container">
    <div class="row">
      <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
        <div class="inner-column">
          <div class="sec-title">
            <span class="title">About Invention (LCI)</span>
            <h2>Converting Ideas to Innovation With Lean Canvas for Invention</h2>
          </div>
          <div class="text">The Lean Canvas for Invention (LCI) is an academic tool that provokes the thought process of researchers and academic inventors to build an attitude of investing their time and effort on inventions having potential of commercialization. It can be useful for acadmic inventors belonging to multiple science and engineering disciplines (e.g., civil, electrical, mechanical, textile, software, water, environment and sanitation, etc.), intending for entrepreneurship.</div>
          <div class="text">
            Invent-C is a visual aid to guide researchers and academic inventors for aligning their research and inventions with the real-world problems, inventing solutions for solving the real-world problems and increasing chance of acceptance of their inventions in the society.          </div>
          <div class="btn-box">
            <a href="/contact" class="theme-btn btn-style-one">Contact Us</a>
          </div>
        </div>
      </div>

      <!-- Image Column -->
      <div class="image-column col-lg-6 col-md-12 col-sm-12">
        <div class="inner-column wow fadeInLeft">

          <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img title="Rahul Kumar Yadav" style="height: 500px;" src="assets/images/aboutus.jpeg" alt=""></a></figure>

        </div>
      </div>

    </div>
    <div class="sec-title">
      <h2>
        Converting Ideas to Innovation With Lean Canvas for Invention

      </h2>
    </div>
    <div class="text">
      All of IGI Global's content is archived via the CLOCKSS and LOCKSS initiative.
    </div>
      <div class="text">
        Additionally, all IGI Global published content is available in IGI Global's InfoSci platform.</div>
    <div class="text">
      The LCI is developed on understanding that bridging knowledge asymmetries between technology developers and technology managers at the technology transfer offices is extremely desired.    </div>

    <div class="text">
      Release Date: October, 2023 Copyright: 2023 Pages: 156    </div>

  </div>
</section>
