<section class="py-lg-4 py-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="ps-lg-4">
                    <img src="assets/images/header-side-image-1.svg" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ps-lg-4">
                    <div class="row">
                        <div class="col-10">
                            <p class="text-justify">
                                The Lean Canvas for Invention (LCI) is an academic tool that provokes the thought
                                process of researchers and academic inventors to build an attitude of investing
                                their time and effort on inventions having potential of commercialization. It can be
                                useful for acadmic inventors belonging to multiple science and engineering
                                disciplines (e.g., civil, electrical, mechanical, textile, software, water,
                                environment and sanitation, etc.), intending for entrepreneurship.
                            </p>
                        </div>
                        <div class="col-2">
                            <img src="assets/images/header-side-image.png" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>