<section class="py-lg-4 py-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6">
                <div class="bg-grey text-white p-3 pb-0">
                    <div class="text-center px-3">
                        <h1>How Does Invent-C Work?</h1>
                        <p>
                            The process of LCI begins with its first component the "Problem Identification", under
                            first WHAT question.
                        </p>
                    </div>
                    <div class="py-4"></div>
                    <div class="pt-5 px-3">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 mb-md-80">
                                <div class="position-relative d-flex justify-content-center">
                                    <h3 class="vertical-heading">Why Question</h3>

                                    <div class="section2-box">
                                        <p class="vertical fs-7 m-0">
                                            Followed by WHY question with components, "Literature Search", "Existing
                                            Solutions", "Market Landscape" and "Novelty". The next WHAT question is
                                            then answered by a component "Research Question".
                                        </p>
                                        <div class="icon-container">
                                            <img src="assets/images/section2-icon-1.png" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 mb-md-80">
                                <div class="position-relative d-flex justify-content-center">
                                    <h3 class="vertical-heading">How Question</h3>

                                    <div class="section2-box">
                                        <p class="vertical fs-7 m-0 ps-3">
                                            The HOW question is then answered by component, "Research Methodology",
                                            "Key Resources", "Funding" and "Team Capacities".
                                        </p>
                                        <div class="icon-container">
                                            <img src="assets/images/section2-icon-2.png" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 mb-md-80">
                                <div class="position-relative d-flex justify-content-center">
                                    <h3 class="vertical-heading">What Question</h3>

                                    <div class="section2-box">
                                        <p class="vertical fs-7 m-0 ps-4">
                                            The WHAT question is then responded by a component, "Research Outcome".
                                        </p>
                                        <div class="icon-container">
                                            <img src="assets/images/section2-icon-3.png" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="row">
                    <div class="col-11">
                        <div class="iframe-container"><iframe border="0" loading="lazy"
                                src="https://www.youtube.com/embed/tgZC9bDsxi4?si=mbFLOs8Y5L3xzvds"></iframe></div>
                    </div>
                    <div class="col-1 bg-blue">

                    </div>
                </div>
                <div class="row mt-2 bg-blue border rounded-4 shadow" style="margin-left: 1px; ">
                    <div class="col-sm-8 px-3 py-1 text-white">
                        <p class="mb-2 fw-bold">
                            Converting Ideas to Innovation With Lean Canvas for Invention
                        </p>
                        <p class="m-0 fs-7">
                            All of IGI Global's content is archived via the CLOCKSS and LOCKSS initiative.
                            Additionally, all IGI Global published content is available in IGI Global's InfoSci
                            platform. <br>
                            Release Date: October, 2023 Copyright: 2023 Pages: 156 <br>
                            DOI: 10.4018/978-1-6684-8341-1 <br>
                            ISBN13: 9781668483411 | ISBN10: 1668483416 | <br>
                            EISBN13: 9781668483428
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <img src="assets/images/section2-book.png" class="section2-book">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="fs-7 m-0 mt-1"><a
                                href="https://www.igi-global.com/book/converting-ideas-innovation-lean-canvas/313179">https://www.igi-global.com/book/converting-ideas-innovation-lean-canvas/313179</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
