<section class="py-lg-4 py-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 px-5">
                <div>
                    <div class="iframe-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/Gez1B3itgX8?si=7oom_35S76mGREfC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
                    <p class="fw-bold text-red mb-2">Arabella's LCI-Episode 01</p>
                </div>
                <div>
                    <div class="iframe-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/X2S4Pglvwgk?si=l-ObkmrSZvCyAlEl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
                    <p class="fw-bold text-red mb-2">Arabella's LCI-Episode 02</p>
                </div>
                <div>
                    <div class="iframe-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/YCaynXZvShE?si=Ja2gnhhRR6LOqeZa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
                    <p class="fw-bold text-red mb-2">
                        Arabella's LCI-Episode 03</p>
                </div>
            </div>
            <div class="col-md-9 bg-red p-5 text-white rounded shadow border-4">
                <div class="row h-100">
                    <div class="col-sm-4 d-flex justify-content-center align-items-center">
                        <img src="assets/images/profile.png" class="profile-img">
                    </div>
                    <div class="col-sm-8 d-flex justify-content-center align-items-center">
                        <div>
                            <h2>
                                ABOUT THE AUTHOR
                            </h2>
                            <h1>
                                PROF.DR.ARABELLA BHUTTO
                            </h1>
                            <div class="mt-4">
                                <button class="btn btn-warning btn-lg fw-bold rounded-0" (click)="openLink(bookLink)">VIEW ALL BOOKS</button>
                                <button class="btn btn-warning btn-lg fw-bold rounded-0 ms-4" (click)="openLink(bookLink)">LEARN MORE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
